<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="description" content="Couleur du tarif d'électricité Tempo (bleu, blanc ou rouge) par API. Accès direct et sans inscription.">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		<style>
			body {
				background-color: #202125;
				color: white;
				font-family: 'Roboto', sans-serif;

				padding: 10vh 10vw;
			}
			.couleurs {
				text-align: center;
				margin-bottom: 10vh;
			}
			.couleurs span {
				display: inline-block;
				width: 50px;
				height: 50px;
				border-radius: 25px;
				margin: 0 5vw;

			}
			.rouge {
				background-color: red;
			}
			.blanc {
				background-color: white;
			}
			.bleu {
				background-color: blue;
			}

			h1 {
				text-align: center;
				font-weight: lighter;
				font-size: 2.5em;
			}
			h1 + p {
				font-weight: lighter;
				font-size: 1.2em;
				text-align: justify;
				line-height: 1.5em;
				max-width: 650px;
				margin-left: auto;
				margin-right: auto;

			}

			.one-data-preview {
				max-width: 350px;
				display: inline-block;
				margin: 0 1.5em;
				text-align: left;
				padding: 20px;
				border: 1px solid white;
				border-radius: 20px;
			}
			#data-preview {
				margin-top: 4em;
				text-align: center;
			}
			.one-data-preview span.url {
				text-decoration: underline dotted;
				margin-left: 10px;
			}
			pre {
				margin-bottom: 0;
			}
			span#fleche-bas {
				display: block;
				text-align: center;
				margin-top: 20px;
				font-size: 4em;
			}

			hr {


				border: none;
				border-top: 1px solid rgba(255, 255, 255, 0.5);
				margin-top: 10vh;
				margin-bottom: 8vh;
			}
			p.clear {
				clear: both;
				margin: 0;
			}

			section {
				padding: 30px;
				box-sizing: border-box;
			}
			section:not(.full-width) {
				width: 50%;
				float: left;
			}
			section.full-width,
			section.full-width + section {
				clear: left;
			}

			@media(max-width: 1000px) {
				/* Pas de colonnes en smartphone ou tablette */
				section:not(.full-width) {
					width: 100%;
				}
				.one-data-preview {
					max-width: none;
					margin-bottom: 1em;
					width: 100%;
					box-sizing: border-box;
					margin-left: 0;
					margin-right: 0;
				}
			}
			h2 {
				font-weight: lighter;

			}
			section p {
				font-weight: lighter;
				line-height: 1.5em;
				font-size: 1em;
				text-align: justify;
			}
			a {
				color: white;
				text-decoration: underline;


			}
			footer {
				font-weight: lighter;
				color: rgba(255, 255, 255, 0.7);
				font-size: 0.8em;
				text-align: center;
				margin-top: 20vh;
			}
		</style>

	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
